<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
<script src="../js/vue.js"></script>
</head>
<body>
     <div id='app'>
         <cpn ></cpn>
         <cpn >
             <template slot-scope="slot">
                <span  v-for="item in slot.data">{{item}}---</span>
             </template>
         </cpn>
         <cpn ></cpn>
     </div>
     <template id="cpn">
        <div>
            <slot :data="lang">
                <ul>
                    <li v-for="item in lang">{{item}}</li>
                </ul>
            </slot>
        </div>

    </template>
     <script>
         Vue.component("cpn",{
            template: "#cpn",
            data(){
                return {
                    lang:["c","c++","java","React","jquery"]
                }
            }
        })
         const app = new Vue({
             el:'#app',
             data:{}
         })
     </script>
</body>
</html>